.navbar-brand{
 text-shadow: 1px 1px 1px #222;
 font-size: 1.5em;
 text-transform: uppercase;
}

.navbar-brand h1{
	margin: 0px;
}

.jumbotron{
	overflow: scroll;
}
.navbar{
	padding-top: 7%;
}
#header-nav{
	background-color: purple;
	border-radius: 0px;
}
.jumbotron{
	height: 1000px;
	background-color: violet;
}

.container{
	overflow: inherit;
}
.navbar-header butto.navbar-toggle, .navbar-header .icon-bar{

	border: 1px solid violet;
}
.navbar-header butto.navbar-toggle{
	clear:both;
}